<p>Dear Zego,</p>
<p>The following company has submitted data to use Zego's payment processing platform. The W-9 Form and Payment Processing Agreement are attached.</p>
<p><strong>Company Name:</strong> <%=@company.name %></p>
<p>Thanks,<br>
Renter Insight</p>