<h1>Renter Insight</h1>
<h2>Your Rent Due Reminder for <%=@lease.unit.street_and_unit %></h2>

<p>Dear <%=@resident.first_name %>,</p>

<p>This is a friendly reminder that your rent is due today, the 1st of the month.</p>

<p>If you are on auto pay, you are all set.</p>

<p>To view your charge details and make a payment, please access the Resident Portal:</p>

<%=link_to(raw("<span>Make Payment</span>"), "#{ApplicationMailer.base_url}/portal/leases/#{@lease.hash_id}/ledger",  class: "btn btn-red") %><br/>

<p>Please let us know if you have any questions.</p>

<%=render partial: 'signature', locals: {property: @lease.property} %>