<div class="main-wrapper">
  <div class="sign-in-page">
    <div class="sign-in-wrapper overlay-box" style="width: 320px; height: 240px">
      <div class="logo-block"><a href="https://www.renterinsight.com" class="logo"><img src="/images/logo-ri.svg" alt="Renter Insight"></a></div>
      <h2 >Unsubscribed</h2>
      You have been unsubscribed.
    </div>
  </div>
</div>