<h1>Renter Insight</h1>
<h2>Maintenance Request Assigned</h2>

<p>Dear <%=@maintenance_request.assigned_to.name %>,</p>

<p>A maintenance request has been assigned to you by <%=@maintenance_request.submitted_by.name %>.  You can click on the ticket below, or use the QR Code below to update the ticket with progress or questions.</p>

<%=render partial: 'company_mailer/maintenance_request_info', locals: {hide_buttons: false} %>

<%=render partial: 'resident_mailer/signature', locals: {property: @maintenance_request.property} %>