<h1>Renter Insight</h1>
<h2>Electronic Payment Application Submitted</h2>

<p>Dear <%=@user.first_name %>,</p>

<p>Thank you for submitting your application for electronic payments.  Our payment provider, Zego, powered by PayLease will be in contact with you to complete the application.</p>

<p>Once everything is complete, we will send you a confirmation email letting you know you can start accepting electronic payments and track all payment types.</p>

<p>If you do not hear from our payments provider within 48 business hours, please let us know so we can assist you.</p>

<p>Thank you,<br>
Renter Insight<br>
<a href="mailto:support@renterinsight.com">support@renterinsight.com</a></p>
