<h1>Renter Insight</h1>
<h2>Lease Renewal Request</h2>

<p>Dear <%=@user.first_name %>,</p>

<p><%=@resident.full_name %> has submitted a request to renew their lease.</p>

<% if false %>
  <p>Note from resident:</p>
  <%=note %>
<% end %>

<p>You may complete this Lease Renewal in Lease Detail:</p>

<%=link_to(raw("<span>Lease Detail</span>"), "#{ApplicationMailer.base_url}/leases/#{@lease.hash_id}/move_out_renew",  class: "btn btn-red") %><br/>

<p>Thank you,<br>
Renter Insight</p>
