<div style="position: absolute; top: 720px; left: 410px; text-align: center; font-family: Helvetica; font-size: 1.2em">
  <img src="data:image/png;base64,<%= @base64_barcode %>"><br/>
  <%=@resident_payment_method.external_id %>
</div>