<!DOCTYPE html>
<html style="overflow:auto">
<head>
  <meta charset="utf-8">
  <title>Renter Insight</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  <!-- Font Awesome -->
  <link href="/font-awesome/css/all.css" rel="stylesheet"> <!--load all styles -->
</head>
<body style="overflow:auto">
<%= yield %>
</body>
</html>


